# Application
PORT=3000
NODE_ENV=development

# Database
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
# Note: In docker-compose, 'db' refers to the service name
DATABASE_URL=

# Redis
REDIS_PORT=
# Note: In docker-compose, 'redis' refers to the service name
REDIS_URL=

# JWT Secret
JWT_SECRET=your_jwt_secret_here
